
/* ==========================================================================
   Default settings
   ========================================================================== */


/* Grid Settings
   ========================================================================== */

$grid_breakpoints = {
	small: 0,
	medium: 40em, // 640px
	large: 64em // 1024
}

$grid_cols = 12
$grid_gutter = 1rem
$gutter_inside = true


/* Typography Settings
   ========================================================================== */

$base-font-size = (16px / 16px)em
$base-line-height = 1.665em
$scale-factor = 1.333