
/* ==========================================================================
   Button
   ========================================================================== */


.btn
	border-radius: 1px
	border: none
	cursor: pointer
	position: relative

	&:focus
		outline: none
	
a.btn
	text-decoration: none

.btn:focus
	outline: none

/**
 * Button sizes
 * Should move sizing from blocks to these
 * sizing classes
 */

.btn--small
	padding: 6px 8px

.btn--medium
	padding 12px 16px

.btn--large
	padding 15px 20px
	font-weight: bold

.btn--fullWidth
	display: block
	width: 100%

a.btn--fullWidth
	text-align: center