
/* ==========================================================================
   List
   ========================================================================== */


.list--inline
	margin: 0
	padding: 0

	li
		display: inline
		list-style: none

.list--reset
	margin: 0
	padding: 0
	
	> li
		list-style: none

.list--hNav
	
	> li
		float: left
		display: inline
		margin-left: -1px

		> a,
		> button
			display: block

.list--vNav

	> li

		> a
			display: block